<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add To-Do</title>
    <link rel="stylesheet" href="forms.css">
</head>
<body>
    <h2>Edit your To-do here</h2>

    <h4>Name : <%= todo.name %></h4>
    <h3>Heading : <%= todo.heading %></h3>

    <form action="/<%= todo.id %>?_method=PATCH" method="post">
        <label for="content">Edit your Content</label> <br> <br>
        <textarea type="text" name="content" placeholder="Enter your todos details..." cols="30" rows="10"><%= todo.content %></textarea><br> 

        <button>Add</button>
    </form>

    
</body>
</html>