<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add To-Do</title>
    <link rel="stylesheet" href="forms.css">
</head>
<body>
    <h2>Add your To-do here</h2>

    <form action="/" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter your name"> <br> <br>

        <label for="heading">Headings</label>
        <input type="text" name="heading" placeholder="Enter your todos heading"> <br> <br>

        <label for="content">Content</label> <br>
        <textarea type="text" name="content" placeholder="Enter your todos details..." cols="30" rows="10"></textarea><br> 

        <button>Add</button>
    </form>

    
</body>
</html>